$primary-color:   #284cb5;
$secondary-color: #333;
$background-color: #f4f4f4;

$on-palm:          768px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

$margin-sides:     70px !default;
$margin-sides-mobile: 20px !default;