---
layout: main.njk
title: 'Interoperable and Discoverable Indoor Positioning Systems'
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Status</h1>
<p>Jury submitted to faculty on: <del>10 February 2025</del></p>
<p>Manuscript submitted to jury on: <del>21 March 2025</del></p>
<p>Internal defence: <del>12 May 2025</del></p>
<p>Public defence: 30 June 2025</p>

<h1>Public PhD defence</h1>
<p>You are cordially invited to my public PhD defence on the 30th of June at 15:00. The event will take place at LIC0.04, VUB campus Etterbeek, or you can join online. For more information about the online livestream,
  please refer to the public event flyer</p>

<h2>Abstract</h2>


<h2>Manuscript</h2>
<p>The manuscript will be made available after the public defence.</p>

<h2>Presentation</h2>
<p>The presentation slides will be made available after the public defence.</p>

<h2>Publications</h2>
<p>A complete list of all publications can be found on my personal website: <a href="https://maximvdw.be/publications/" target="_blank">https://maximvdw.be/publications/</a></p>