<header class="site-header">
  <div class="header-image">
    <img src="/images/header/header.jpg" alt="Header Image">
    <div class="gradient"></div>
      <div class="container">
        <h1>Interoperable and Discoverable<br>Indoor Positioning Systems</h1>
      </div>
  </div>
</header>
